/tema0/HolaMundo/build/
/Tareas/Tarea1/Ejer1-Calculadora/nbproject/private/
/Tareas/Tarea1/Ejer1-Calculadora/build/
/Tareas/Tarea1/Ejer1-Calculadora/dist/
/Tareas/Tarea1/Ejer2-JuegoTresRaya/nbproject/private/
/Tareas/Tarea1/Ejer2-JuegoTresRaya/build/
/EjerciciosDeClases/CrudPersonas/nbproject/private/
/EjerciciosDeClases/CrudPersonas/build/
/Tareas/Tarea1/Ejer3-JuegoTresRaya/build/
/Tareas/Tarea1/Ejer2-Biblioteca/nbproject/private/
/Tareas/Tarea1/Ejer2-Biblioteca/build/
/Tareas/Tarea1/Ejer4-CrudBiblioteca/nbproject/private/
/Tareas/Tarea1/Ejer4-CrudBiblioteca/build/
/Laboratorios/Laboratorio1/Ejer1-Rectangulo/nbproject/private/
/Laboratorios/Laboratorio1/Ejer1-Rectangulo/build/
/Laboratorios/Laboratorio1/Ejer4-Tienda/nbproject/private/
/Laboratorios/Laboratorio1/Ejer4-Tienda/build/
/Laboratorios/Laboratorio1/Ejer7-IMC/nbproject/private/
/Laboratorios/Laboratorio1/Ejer7-IMC/build/
/Laboratorios/Laboratorio1/Ejer8-Tareas/nbproject/private/
/Laboratorios/Laboratorio1/Ejer8-Tareas/build/
/Laboratorios/Laboratorio1/Crud-Tienda/nbproject/private/
/Laboratorios/Laboratorio1/Crud-Tienda/build/
/Temas/tema3/SoquetsTCP/nbproject/private/
/Temas/tema3/SoquetsTCP/build/
/Temas/tema3/ConexionTCP/nbproject/private/
/Temas/tema3/ConexionTCP/build/
/EjerciciosDeClases/Spquets-TCP/Ejer1-FactorialTCP/nbproject/private/
/EjerciciosDeClases/Spquets-TCP/Ejer1-FactorialTCP/build/
/EjerciciosDeClases/Soquets-TCP/Ejer2-Juego-Ahorcado/nbproject/private/
/EjerciciosDeClases/Soquets-TCP/Ejer2-Juego-Ahorcado/build/
/EjerciciosDeClases/Soquets-TCP/Ejer2-JuegoAhorcado-ModoGrafico/nbproject/private/
/EjerciciosDeClases/Soquets-TCP/Ejer2-JuegoAhorcado-ModoGrafico/build/
/EjerciciosDeClases/Soquets-TCP/Ejercicio1/nbproject/private/
/EjerciciosDeClases/Soquets-TCP/Ejercicio1/build/
