/tema0/HolaMundo/build/
/Tareas/Tarea1/Ejer1-Calculadora/nbproject/private/
/Tareas/Tarea1/Ejer1-Calculadora/build/
/Tareas/Tarea1/Ejer1-Calculadora/dist/
/Tareas/Tarea1/Ejer2-JuegoTresRaya/nbproject/private/
/Tareas/Tarea1/Ejer2-JuegoTresRaya/build/
/EjerciciosDeClases/CrudPersonas/nbproject/private/
/EjerciciosDeClases/CrudPersonas/build/
/Tareas/Tarea1/Ejer3-JuegoTresRaya/build/
/Tareas/Tarea1/Ejer2-Biblioteca/nbproject/private/
/Tareas/Tarea1/Ejer2-Biblioteca/build/
/Tareas/Tarea1/Ejer4-CrudBiblioteca/nbproject/private/
/Tareas/Tarea1/Ejer4-CrudBiblioteca/build/
/Laboratorios/Laboratorio1/Ejer1-Rectangulo/nbproject/private/
/Laboratorios/Laboratorio1/Ejer1-Rectangulo/build/
/Laboratorios/Laboratorio1/Ejer4-Tienda/nbproject/private/
/Laboratorios/Laboratorio1/Ejer4-Tienda/build/
/Laboratorios/Laboratorio1/Ejer7-IMC/nbproject/private/
/Laboratorios/Laboratorio1/Ejer7-IMC/build/
/Laboratorios/Laboratorio1/Ejer8-Tareas/nbproject/private/
/Laboratorios/Laboratorio1/Ejer8-Tareas/build/
/Laboratorios/Laboratorio1/Crud-Tienda/nbproject/private/
/Laboratorios/Laboratorio1/Crud-Tienda/build/
/Temas/tema3/SoquetsTCP/nbproject/private/
/Temas/tema3/SoquetsTCP/build/
/Temas/tema3/ConexionTCP/nbproject/private/
/Temas/tema3/ConexionTCP/build/
/EjerciciosDeClases/Spquets-TCP/Ejer1-FactorialTCP/nbproject/private/
/EjerciciosDeClases/Spquets-TCP/Ejer1-FactorialTCP/build/
/EjerciciosDeClases/Soquets-TCP/Ejer2-Juego-Ahorcado/nbproject/private/
/EjerciciosDeClases/Soquets-TCP/Ejer2-Juego-Ahorcado/build/
/EjerciciosDeClases/Soquets-TCP/Ejer2-JuegoAhorcado-ModoGrafico/nbproject/private/
/EjerciciosDeClases/Soquets-TCP/Ejer2-JuegoAhorcado-ModoGrafico/build/
/EjerciciosDeClases/Soquets-TCP/Ejercicio1/nbproject/private/
/EjerciciosDeClases/Soquets-TCP/Ejercicio1/build/
/Temas/tema4/Operaciones/nbproject/private/
/Temas/tema4/Ahorcado/nbproject/private/
/Temas/tema4/Ahorcado/build/
/Laboratorios/Laboratorio2/PagosRUAT/nbproject/private/
/Laboratorios/Laboratorio2/PagosRUAT/build/
/Laboratorios/Laboratorio2/Pagos_RUAT/nbproject/private/
/Tareas/PagosRuat/nbproject/private/
/Tareas/PagosRuat/build/
/Laboratorios/Laboratorio2/Pagos_RUAT/build/
/Temas/tema5/SimpleChat/build/
/Temas/tema5/SimpleChat/nbproject/private/
/EjerciciosDeClases/ChatContabilizarVotos/nbproject/private/
/EjerciciosDeClases/ChatContabilizarVotos/build/
/EjerciciosDeClases/Ejer5_RabitMQ/nbproject/private/
/EjerciciosDeClases/Ejer5_RabitMQ/build/
/Ejercicios-Parciales/Ejercicio_1erParcial/EjercicioParcial1/nbproject/private/
/Ejercicios-Parciales/EjerciciosPrimerParcial/SoquetsTCP/nbproject/private/
/Ejercicios-Parciales/EjerciciosPrimerParcial/SoquetsTCP/build/
/Ejercicios-Parciales/EjerciciosPrimerParcial/SoquetsUDP/nbproject/private/
/Ejercicios-Parciales/EjerciciosPrimerParcial/SoquetsUDP/build/
/Ejercicios-Parciales/EjerciciosPrimerParcial/CalcualdoraTCP/nbproject/private/
/Ejercicios-Parciales/EjerciciosPrimerParcial/CalcualdoraTCP/build/
/Ejercicios-Parciales/EjerciciosPrimerParcial/GestioEstudianteUDP/nbproject/private/
/Ejercicios-Parciales/EjerciciosPrimerParcial/GestioEstudianteUDP/build/
/Ejercicios-Parciales/EjerciciosPrimerParcial/CalculadoraUTPMultiHilo/nbproject/private/
/Ejercicios-Parciales/EjerciciosPrimerParcial/CalculadoraUTPMultiHilo/build/
/Ejercicios-Parciales/EjerciciosPrimerParcial/ProtocoloRMI/nbproject/private/
/Ejercicios-Parciales/EjerciciosPrimerParcial/ProtocoloRMI/build/
/Ejercicios-Parciales/EjerciciosPrimerParcial/CajeroAutomaticoRMI/nbproject/private/
/Ejercicios-Parciales/EjerciciosPrimerParcial/CajeroAutomaticoRMI/build/
/Ejercicios-Parciales/EjerciciosPrimerParcial/JavaApplication40/nbproject/private/
/Laboratorios/LAboratorio3/DiplomaAcademico/nbproject/private/
/Parciales/1ExamenParcial/nbproject/private/
/Parciales/1ExamenParcial/build/
